<div ng-controller="MainController">


	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2 well" style="overflow: auto; max-height: 60vh;">
				<div ng-repeat="object in chatList">
					<p>
						{{object.author}}: {{object.message}}
					</p>					
				</div>
			</div>
		</div>

	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 well text-center">
				<form ng-submit="submit()" class="form-inline">
					<input type="text" size="20" ng-model="author" placeholder="Type Your Name Here!" class="form-control">
					<input type="text" size="50" ng-model="message" placeholder="Type Your Message Here!" class="form-control">
					<input type="Submit" class="btn">
				</form>
			</div>
		</div>
	</div>	
</div>